@import "variable";

.not-found {
  padding: 80px 0;
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  text-align: center;

  &__content {
    background: #fff;
    padding: 60px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

  h1 {
    font-size: 96px;
    color: $primary-color;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 28px;
    color: #252525;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
  }

  &__button {
    display: inline-block;
    padding: 12px 28px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
}
